commands.gdb
.gdb_history
.vscode

disk0.img
disk0.vmdk
*.[oad]
*.pyc
*.gdbcomm
*.so

.staging

\#*\#
*~
.*.swp
*.tmp
*.bak
*.orig
*.nfs*
cmake-build-debug/*

.vagrant

**.DS_Store

**.log

.idea/
qemu/
